body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: white;
  flex-direction: column;
  /* background-image: url("../assets/bg.jpg");
  background-size: cover; */
}

